body {
    font-family: Arial;
}

#mainProgress {
    background-color: lightgray;
    text-align: center;
}

#progressValue {
    background-color: rgb(22, 57, 255);
    text-align: center;
    color: black;
    width: 100%;
    height: 20px;
    white-space: nowrap;
}

#speed {
    color: white;
    text-align: center; 
    font-size: larger; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

#speedValue {
    color:rgb(0, 85, 255);
}

#maxSpeed {
    color: white;
    text-align: center; 
    font-size: smaller; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

#acceleration {
    color: white; 
    text-align: center;
    font-size: small; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

#accelerationValue {
    color:rgb(0, 85, 255);
}

#tachyons {
    color: white;
    text-align: center; 
    font-size: larger; 
    margin-top: 6px; 
    margin-bottom: 0px;
}

#tachyonsValue {
    color: rgb(9, 255, 0);
}

#tabButtons {
    margin-top: 20px;
    text-align: center;
}

.tabButton {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 30;
    transition: 0.2s;
    border-color: black;
}

.tabButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.tabButton:active {
    border-style: outset;
}

#timeTravelTabButton {
    color: white;
    background-color: black;
    border-color: rgb(9, 255, 0);
}

#timeTravelTabButton:hover {
    color: black;
    background-color: rgb(9, 255, 0);
    border-color: black;
}

button:focus {
    outline: 0;
}
button {
    cursor: pointer;
}

#acceleratorsTitle {
    text-align: center;
    color: white;
}

#acceleratorBoostTitle {
    text-align: center;
    color: white;
}

#accelerators {
    text-align: center;
    justify-content: center;
    display: flex;
}

.accelerator {
    margin: 0;
    padding: 2px;
    width: 10%;
    color: white;
}

.acceleratorsBuyButton {
    display: block;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 30;
    transition: 0.2s;
    border-color: black;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.acceleratorsBuyButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.acceleratorBoosts {
    margin-left: auto;
    margin-right: auto;
}

.acceleratorBoostLocked {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 90px;
    font-size: 18;
    transition: 0.2s;
}

.acceleratorBoostLocked:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 180px;
    height: 90px;
    font-size: 18;
}

.acceleratorBoostLocked>p {
    margin: 0%;
}

.acceleratorBoostUnlocked {
    background-color: rgb(0, 236, 0);
    color: black;
    width: 180px;
    height: 90px;
    font-size: 18;
    cursor: default;
    border: 2px solid black;
}

.acceleratorBoostUnlocked>p {
    margin: 0%;
}

#settingsTable {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.settingsButton {
    display: block;
    width: 160px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 20;
    transition: 0.2s;
    border-color: black;
}

.settingsButton:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
}

#timeTravelForcedScreen {
    text-align: center;
}

#timeTravelBigButton {
    margin: 50vh auto 0;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border-color: rgb(9, 255, 0);
    transition: 0.2s;
    font-size: 120;
}

#timeTravelBigButton:hover {
    color: black;
    background-color: rgb(9, 255, 0);
    border-color: black;
}

#timeTravelSubTabButtons {
    text-align: center;
    margin-top: 5px;
}

.subTabButton {
    font-size: 16;
    border-radius: 3px;
    background-color: white;
    color: black;
    transition: 0.2s;
    border-color: black;
}

.subTabButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.timeTravelSubTabButton {
    background-color: black;
    color: white;
    border-color: rgb(9, 255, 0);
}

.timeTravelSubTabButton:hover {
    color: black;
    background-color: rgb(9, 255, 0);
    border-color: black;
}

.tachyonUpgrades {
    margin-left: auto;
    margin-right: auto;
}

.tachyonUpgradeLocked {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 90px;
    font-size: 18;
    transition: 0.2s;
}

.tachyonUpgradeLocked:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 180px;
    height: 90px;
    font-size: 18;
}

.tachyonUpgradeLocked>p {
    margin: 0%;
}

.tachyonUpgradeUnlocked {
    background-color: rgb(0, 236, 0);
    color: black;
    width: 180px;
    height: 90px;
    font-size: 18;
    cursor: default;
    border: 2px solid black;
}

.tachyonUpgradeUnlocked>p {
    margin: 0%;
}

.einsteinCompensatorUpgradeLocked {
    background-color: rgb(202, 255, 186);
    width: 180px;
    height: 90px;
    font-size: 18;
    transition: 0.2s;
}

.einsteinCompensatorUpgradeLocked:hover {
    background-color: rgb(11, 95, 0);
    color: white;
    width: 180px;
    height: 90px;
    font-size: 18;
}

.einsteinCompensatorUpgradeLocked>p {
    margin: 0%;
}

.einsteinCompensatorTreeRow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#einsteinCompensatorTitle {
    text-align: center;
    color: white;
}

.einsteinCompensatorMainUpgrade {
    background-color: rgb(19, 230, 219);
    font-weight: bold;
}

.einsteinCompensatorMainUpgrade:hover {
    background-color: rgb(5, 80, 80);
    color: white;
    width: 180px;
    height: 90px;
    font-size: 18;
}

.automator {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    border: 2px solid rgb(0, 236, 0);
    background-color: rgb(0, 236, 0, 0.3);
    border-radius: 20px;
}

.automatorToggleButton {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.2s;
}

.automatorToggleButton:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

#timeBreakSubSubTabButtons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#einsteinCompensatorFooter {
    background-color: rgb(182, 182, 182);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 255, 34);
    width: 600px;
    height: 100px;
    position: fixed;
    bottom: -2px;
    left: 50%;
    margin-left: -300px;
}

#einsteinCompensatorFooterSpacing {
    margin-bottom: 200px;
}

#einsteinCompensatorFooterTable {
    height: 100%;
    width: 100%;
    text-align: center;
}

#einsteinCompensatorFooterTable td {
    width: 33.3%;
    border: 1px solid black;
}